<div class="inwrap">
    <h2 class="text_h2">Learn to succeed from some of the most successful people in the world - step by step </h2>
    <div class="video_share">
      <div class="text_share">
        <p class="text_share_P">Ever wonder how the world's top millionaires and entrepreneurs made it bog, Now YOU can team how they did rt direcUy from them.</p>
        <a href="#"><img src="/assets/fb_share.png" alt="" class="text_share_img" /></a>
      </div>
      <div class="video">
        <iframe title="YouTube video player" width="450" height="255" src="http://www.youtube.com/embed/6X3zUh8RqbY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <p class="text_item_p">seen in:</p>
    <ul class="list_item">
      <li>The new brik times</li>
      <li>THE WELL STREET JOURNAL</li>
      <li>TeahCrunch</li>
      <li>Mashable</li>
    </ul>
    <h5 class="text_h5">Meet your ultra-successful instructors</h5>
    <p class="text_p">Learn to succeed from some of the most successful people in the world - step by step Learn to succeed from some of the most successful people in the world - step by step. Learn to succeed from some of the most successful people</p>
</div>