<div id="inner-page">
  <div id="inner-content">
    <h1>Contact Us</h1>
    <p>If you have a question specific to how Lessons On Becoming A Millionaire is delivered to you or if you need technical assistance accessing your product, you may contact our support staff using the contact form below:</p>
    <p>If requesting technical assistance, ALWAYS include your Clickbank order number, your full name and date of purchase for the fastest reply.</p>
    <p>Because of the sheer volume of email we receive, we regretfully are unable to reply to inquiries requesting free business advice. However, <strong>if you currently believe you are unable to afford one of these courses, you’re one of the people who needs it most. You are the reason why we do what we do.</strong></p>
    <p><strong>If you are somehow unsatisfied and you are within your 60 day refund window, please email us at</strong> refunds [at] lessonsonbecomingamillionaire.com. Please include your Clickbank order number and purchase date.</p>
    <div class="spacer"></div>
    <p><strong>Support email address: </strong></p>
    <p>support [at] lessonsonbecomingamillionaire.com (please replace [at] with the @ symbol)</p>
    <div class="spacer"></div>
    <div class="row">
      <div class="col">
        <p><strong>Media Inquiries</strong><br />
          media [at] lessonsonbecomingamillionaire.com </p>
        <p><strong>Affiliate Inquiries</strong><br />
          affiliates [at] lessonsonbecomingamillionaire.com </p>
        <p><strong>Refund Inquiries </strong><br />
          refunds [at] lessonsonbecomingamillionaire.com</p>
      </div>
      <div class="col">
        <p><strong>Partnership Inquiries </strong><br />
          bizdev [at] lessonsonbecomingamillionaire.com</p>
        <p><strong>Instructor Inquiries</strong><br />
          instructors [at] lessonsonbecomingamillionaire.com</p>
      </div>
    </div>

    <div class="row">
      <form method="post" action="process.php">
        <fieldset>
          <legend>Order and Technical Support</legend>
          <div>
            <label for="name">Full Name:</label>
            <input name="name" type="text" size="40" maxlength="60" id="name" value="">
          </div>
          <div>
            <label for="email">Clickbank Order Number:</label>
            <input name="clickbank" type="text" size="40" maxlength="60" id="clickbank" value="">
          </div>
          <div>
            <label for="comm">Message:</label>
            <textarea name="comments" rows="10" cols="50" id="comm"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Send">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
