<p id="notice"><%= notice %></p>
<p>currently this video is  playing from database</p>
<div class = 'video-show'>
  <%= video_player({:file => @lesson.video.url}, {:width => 680, :height => 420}) %>
</div>

<%#= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%#= link_to 'Back', lessons_path %>
