
<div class="maincontent">
  <div class="clear"></div>
  
  <br />
  <div class="fashion_content_page2">
    <% @courses.each do |course| %>
        <%= link_to "#{image_tag (course.photo.url(:small)), :width => '142px', :height => '150px', :border => 0, :float => 'left' }".html_safe, course %>

        <div class="fashion_content_page2_cnt"> <h2><%= course.title %></h2>
          <p class="p1">Created at &nbsp; <%= (course.created_at).strftime('%b %Y')%><span></span></p>
          <p class="p2">There are <%= "(#{course.lessons.count})" %> lessons under this course</p>
        </div>

        <div class="clear"></div>

        <a href="#"><img src="/assets/share.jpg" width="64" height="25" alt="share" align='right'></a>
        <div class="clear"></div>
        <hr />
    <%end%>

  </div>

  <div class="clear"></div>
  <br />
</div>
