// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-show{
  margin: 0 auto;
  width: 756px;
}


.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clrflt{clear:both;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
/**************************************************************************************/
a											{color:#000; text-decoration:none; outline:0 none;}
a:hover										{color:#000;  text-decoration:none;}
li a:hover										{color:#000;  text-decoration:none;}
h1											{font-size:24px;}
h2											{font-size:22px;}
h3											{font-size:18px;}
h4											{font-size:16px;}
h5											{font-size:14px;}
h6											{font-size:12px;}
/*----------------------------------------------------------------------------------*/
html 										{}
body										{color:#b1b1b1; font-family:"Arial", Verdana, Tahoma; font-size:12px; padding:0; margin:0;}
.flt_lt										{float:left; display:inline;}
.flt_rt										{float:right; display:inline;}
/* ---------------------------------------------------------------------------------*/


/* ----------------------- layout ----------*/
/*
.wrapper									{margin:0 auto;}
.container									{width:748px; margin:0 auto;}
.container2									{width:724px; margin:0 auto;}
.main_content								{padding:0 0 25px;}
.header										{ background:url(/assets/header_bg.png) repeat-x; border-top:#8d8d8d 1px solid; border-bottom:#ffb72e 3px solid; margin:12px 0 0 0; }
.header_main                                 {width:745px; margin:0 auto;}
*/
/*-------------------------------------------*//*


*/
/* ------------------ HEADER HERE -------------------*//*

.logo										{ padding:6px 22px 3px 0; float:left;}
.header_right                               {float:right; padding:18px 0 0 0;}
.header_right ul                            {float:left; display:inline-block; list-style:none; padding:0; margin:0;}
.header_right ul li                         {float:left; display:inline-block; background:url(/assets/header-right_li.png) no-repeat center right; margin:0 0 0 12px; padding:0;}
.header_right ul li a                       {font-family:"Arial", Verdana, Tahoma; font-size:11px; color:#ffffff; margin:0 11px 0 0; display:inline-block;}
.header_right ul li a:hover                 { text-decoration:underline;}
*/
/* ---------------------------------------------------------*//*




*/
/* ------------------------- NAVIGATION HERE ---------------*//*

#nav										{ float:left; padding:2px 0 4px 0; background:url(/assets/nav_li.png) no-repeat right center;}
#nav ul										{ float:left; display:inline-block; list-style:none; padding:0; margin:0;}
#nav ul li									{float:left; display:inline-block; margin:0 0 0 0; padding:0;}
#nav ul li a								{font-family:"Arial", Verdana, Tahoma; font-size:14px; color:#ffffff; margin:0 0 0 17px; display:inline-block; padding:11px 15px 6px 18px; background:url(/assets/nav_li.png) no-repeat center left;}
#nav ul li a span							{ background:url(/assets/arrow_down.png) no-repeat center right;  display:inline-block;   padding: 0 20px 0 0;}
#nav ul li a:hover							{ text-decoration:underline;}
*/
/* ------------------ FOOTER HERE --------------------------*//*

.footer										{ background:url(/assets/footer_top.png) repeat-x #252525; min-width:870px;}
.footer_main                                {width:860px; margin:0 auto; padding:45px 0 26px 0;}
.footer_main .block                       { float:left;  width:130px;}
.footer_main .block ul                             {list-style:none; padding:0; margin:0; }
.footer_main .block ul li                          {padding:0; margin:0;}
.footer_main .block ul li p                        { font-family:"Arial", Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#ffffff; margin:0 0 18px 0;}
.footer_main .block ul li a                       { font-family:"Arial", Helvetica, sans-serif; font-size:9px;  color:#ffffff; display:block;}
.footer_main .block ul li a:hover                 { text-decoration:underline;}
.footer_logo                                {float:right; padding:32px 0 0 0;}
.footer_bottom                               {background:url(/assets/footer_bottom_bg.png) repeat-x; min-width:870px;}
.footer_bottom  .footer_main                                {width:866px; margin:0 auto; padding:30px 0 20px 0; background:url(/assets/footer_shadow_line.png) repeat-x bottom left;}
.footer_main .block                       { float:left;  width:130px;}
.footer_main .block ul                             { padding:0; margin:0; list-style:none;}
.footer_main .block ul li                          {padding:0; margin:0;}
.footer_main .block ul li p                        { font-family:"Arial", Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#ffffff; margin:0 0 5px 0;}
.footer_main .block ul li a                       { font-family:"Arial", Helvetica, sans-serif; font-size:9px;  color:#ffffff;display:inline-block;}
.footer_main .block ul li a:hover                 { text-decoration:underline;}
.footer_main .social_icons                       {float:right; margin:-40px 0 0 0;}
.social_icons ul                                  { float:left; display:inline-block; padding:0; margin:0; list-style:none;}
.social_icons ul li                               { float:left; display:inline-block; margin:0 0 0 8px; padding:0;}
.social_icons ul li p                             {font-family:"Arial", Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#959595; text-align:center; padding:6px 0 0 0;}
.copy										{width:860px; margin:0 auto; padding:25px 0 0 0;   }
.copy ul                                      { float:left; display:inline-block; list-style:none; padding:0; margin:0; }
.copy ul li                                   {float:left; display:inline-block; margin:0 0 0 11px; background:url(/assets/copy_li.png) no-repeat center right; padding:0;}
.copy ul li a                                 {font-family:"Arial", Helvetica, sans-serif; font-size:11px; color:#959595; margin:0 10px 0 0; display:inline-block;}
.copy ul li a:hover                           { text-decoration:underline;}
.copy ul li.no_margin                         {margin:0 0 0 0 !important;}
.copy p                                       {font-family:"Arial", Helvetica, sans-serif; font-size:11px; color:#959595; margin:12px 0 10px 0;}

*/

/* ----------------------------          Page1        -----------------------------*/

.content_nav{padding:15px 0 16px 0;}
.content_nav ul{list-style:none; display:inline-block; padding:0; margin:0;}
.content_nav ul li{padding:0 5px; margin:0;float:left; display:inline-block;font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#004a80;}
.content_nav ul li a{ display:inline-block;color:#004a80;}
.content_nav ul li a.current{color:#000;}

.fashion_content_page1{border:1px solid #969696; width:704px; margin:0 auto; padding:20px 22px 14px 18px;}
.fashion_content_page1 h2{font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#000000; padding:0 0 14px; margin:0; line-height:24px;}
.fashion_content_page1 .p1{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000000; padding:0 0 16px; margin:0; line-height:12px;}
.fashion_content_page1 .p2{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; padding:0; margin:0; line-height:18px;}
.fashion_content_page1 img{border:0;}

.sidebar_page1{padding:38px 0 0 0; float:left;}
.sidebar_page1 p{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:bold; padding:0; margin:0; line-height:12px;}
.sidebar_page1 .subjects{list-style:none; display:inline-block; padding:0 0 44px; margin:0;}
.sidebar_page1 .subjects li{padding:6px 0 0 0; margin:0; display:block;}
.sidebar_page1 .subjects li a{font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#003471; display:inline-block;}
.sidebar_page1 .subjects li a span{color:#555555; display:inline-block;}

.sidebar_page1 .instructors{list-style:none; display:inline-block; padding:0; margin:0;}
.sidebar_page1 .instructors li{padding:6px 0 0 0; margin:0; display:block;}
.sidebar_page1 .instructors li a{font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#003471; display:inline-block;}
.sidebar_page1 .instructors li a span{color:#555555; display:inline-block;}


.left_content{float:right; padding:38px 0 0 0;}
.fashion_courses{}
.fashion_courses h2{font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#000000; padding:0 0 8px; margin:0; line-height:22px;}
.fashion_courses .p1{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; padding:0; margin:0; line-height:12px;}
.fashion_courses .getrich_content{padding:20px 0 25px 0; background:url(/assets/duble_lineborder.jpg) repeat-x bottom left;}
.fashion_courses .getrich_content img{border:0; float:left;}
.fashion_courses .getrich_content .txt_content{float:left; width:440px; padding:10px 0 0 26px;}
.fashion_courses .getrich_content .txt_content h2{font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#004a80; padding:0 0 16px; margin:0; line-height:22px;}
.fashion_courses .getrich_content .txt_content .p2{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:0; margin:0; line-height:22px;}
.fashion_courses .getrich_content .txt_content .p3{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:6px 0 0 0; margin:0; line-height:18px; font-weight:bold;}
.fashion_courses .getrich_content .txt_content .p3 span{color:#004a80; font-weight:normal;}

.subcategeories{padding:46px 0 40px 0;}
.subcategeories h2{font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#000000; padding:0 0 8px; margin:0; line-height:24px;}
.subcategeories p{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000000; padding:0; margin:0; line-height:12px;}
.subcategeories ul{list-style:none; padding:24px 0 0 0; margin:0; display:inline-block; width:475px;}
.subcategeories ul li{padding:0 0 12px; margin:0; display:block; float:left; width:150px;}
.subcategeories ul li a{display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#003471;}
.subcategeories ul li a span{color:#555555; display:inline-block;}

.all_videos{padding:0 0 30px;}
.all_videos h1{font-family:Arial, Helvetica, sans-serif; font-size:23px; color:#000000; padding:0; margin:0;}
.all_videos h3{font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000000; padding:0; margin:0;}
.all_videos .video_cnt{float:left; padding:0 0 0 16px; width:425px;}
.all_videos .video_cnt h6{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#004a80; padding:0 0 6px; margin:0;}
.all_videos .video_cnt p{font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#000000; padding:0 0 8px; margin:0;}
.all_videos .video_cnt .timer{display:inline-block; background:url(/assets/timer_icon.jpg) no-repeat left center; font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#707070; padding:0 0 0 25px;}
.all_videos .video_container{background:url(/assets/duble_lineborder.jpg) repeat-x bottom left; padding:14px 0;}
.all_videos .video_cnt .action{display:inline-block; background:url(/assets/actionsteps.jpg) no-repeat center left;font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#707070; padding:0 0 0 25px;}
.all_videos .video_cnt .transcription{display:inline-block; background:url(/assets/transcript.jpg) no-repeat center left;font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#707070;padding:0 0 0 25px;}
.all_videos .video_img{float:left;}
.all_videos .video_img img{border:0;}

.left_content .see_button{background:url(/assets/grad_bg.jpg) repeat-x top left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#555555; display:inline-block; text-align:center; width:590px; border:1px solid #e5e5e5; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; padding:10px 0 9px;}
.diamondjohn{border:1px solid #969696; width:695px; margin:0 auto; padding:20px 12px 14px 18px; margin-left: -8px}
.diamondjohn h2{font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#000000; padding:0 0 7px; margin:0; line-height:24px; text-align: left;}
.diamondjohn .p1{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000000; padding:0 0 0; margin:0; line-height:12px;}
.diamondjohn img{border:0; padding:20px 0 0 0;}

.pop_up{width:725px; margin:0 auto; padding:10px 0; margin-left: -8px;}
.pop_up img{border:0;}
.scroll_div{width:260px; min-height:410px; padding:20px 10px 0 0; border:1px solid #acacac;float:left; margin-left: -7px}
.scroll_div h4{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000000; padding:0; margin:0; text-align:center;}
.scroll_div ul{list-style:none; display:block; padding:18px 0 0 0; margin:0;}
.scroll_div ul li{padding:0 0 8px 25px; margin:0; display:block;}
.scroll_div ul li.titl{padding:15px 0 4px 25px;}
.scroll_div ul li .title1{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:bold; float:left; padding:0; margin:0;}
.scroll_div ul li .duration1{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:bold; float:right;padding:0; margin:0;}
.scroll_div ul li .title2{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#004a80;  float:left;padding:0; margin:0;}
.scroll_div ul li .duration2{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; float:right;padding:0; margin:0;}


.suggested_videos{border:1px solid #919191; margin:12px 0 0 0; margin-left: -7px}
.suggested_videos h5{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:18px 0 0 20px; margin:0;}
.suggested_videos ul{list-style:none; display:inline-block; padding:0 0 20px 25px; margin:0;}
.suggested_videos ul li{float:left; padding:15px 18px 0 0; margin:0; display:inline-block; width:156px;}
.suggested_videos ul li a{display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#004a80;}
.suggested_videos ul li a span{display:block; text-align:center; line-height:22px;padding:10px 0 0 0;}



/*-------------------------------------- second---------------*/

.inner-nav{display:inline-block; margin:30px 0 30px 73px;}
.inner-nav ul{display:inline-block; padding:0 0; margin:0;}
.inner-nav ul li{display:inline-block; float:left; padding:0 20px;}
.inner-nav ul li a{font:bold 21px Arial, Helvetica, sans-serif; color:#003471;}
.inner-nav ul li a:hover, .inner-nav ul li a.active{text-decoration:underline;}

.total{display:block; margin:0 115px 0 93px;}
.total h3{font:normal 16px Arial, Helvetica, sans-serif; color:#000; display:inline-block; margin:0 90px 0 0;}
.total span{font:normal 16px Arial, Helvetica, sans-serif; color:#003471;}
.total2{display:block; margin:0 115px 0 93px;}
.total2 h3{font:normal 16px Arial, Helvetica, sans-serif; color:#000; display:inline-block; margin:0 30px 18px 30px;}
.total2 span{font:normal 16px Arial, Helvetica, sans-serif; color:#003471;}

.form{width:640px; margin:40px auto 0;}
.form h3{font:bold 18px Arial, Helvetica, sans-serif; color:#000; margin:0 0 0 40px;}
.form ul {width:600px;}
.form ul li{display:inline-block; padding:10px 0;}
.form ul li label{display:inline-block; float:left; font:bold 11px Arial, Helvetica, sans-serif; color:#000; width:85px; margin:7px 0;}
.form input{ margin:0 0px;}
.text-field{font:normal 12px Arial, Helvetica, sans-serif; color:#000; width:330px; padding:5px 5px; margin:0; border:1px solid #000;}
.text-field1{font:normal 12px Arial, Helvetica, sans-serif; color:#000; width:330px; padding:5px 5px; margin:0 0px; border:1px solid #000;}
.form ul li select{width:342px; padding:5px 0; border:1px solid #000;}
.form ul li b{font:bold 21px Arial, Helvetica, sans-serif; color:#003471; margin:0 0px 0 15px;}
.form ul li span{font:bold 21px Arial, Helvetica, sans-serif; color:#003471; float:left; margin:0 0px 0 297px;}

.manage{width:560px; margin:80px auto 80px; padding:0 0 200px;}
.manage h3{font:bold 18px Arial, Helvetica, sans-serif; color:#000;}
.manage ul{display:inline-block; margin:0 25px 0 0; padding:0; float:left;}
.manage ul li {display:block; padding:3px 0;}
.manage ul li a{font:bold 11px Arial, Helvetica, sans-serif; color:#000;}
.manage ul li a.blu{font:bold 11px Arial, Helvetica, sans-serif; color:#004a80;}
.manage ul li a.red{font:bold 11px Arial, Helvetica, sans-serif; color:#9e0b0f;}

.manage ul li a:hover{text-decoration:underline;}

.Categories{width:560px; margin:80px auto 80px; padding:0 0 60px;}
.Categories h3{font:bold 18px Arial, Helvetica, sans-serif; color:#000;}
.Categories ul{width:250px; margin:4px 0; padding:0; display:inline-block;}
.Categories ul li{display:inline-block; float:left; padding:0 30px 0 0;}
.Categories ul li a{font:bold 11px Arial, Helvetica, sans-serif; color:#000;}
.Categories ul li a:hover{text-decoration:underline;}
.Categories ul li a.blu{font:bold 11px Arial, Helvetica, sans-serif; color:#004a80;}
.Categories ul li a.red{font:bold 11px Arial, Helvetica, sans-serif; color:#9e0b0f;}

.Categories ul ul{ margin:2px 0  0px 30px; padding:0}
.Categories ul ul li{display:inline-block; float:left; padding:0 30px 0 0;}
.Categories ul ul li a{font:bold 11px Arial, Helvetica, sans-serif; color:#000;}
.Categories ul ul li a:hover{text-decoration:underline;}
.Categories ul ul li a.blu{font:bold 11px Arial, Helvetica, sans-serif; color:#004a80;}
.Categories ul ul li a.red{font:bold 11px Arial, Helvetica, sans-serif; color:#9e0b0f;}

.number{display:inline-block; margin:25px 0 0;}
.number ul{}
.number ul li{display:inline-block; float:left; padding:0 6px 0 0;}
.number ul li a{font:bold 11px Arial, Helvetica, sans-serif; color:#003471;}
.number ul li a:hover{text-decoration:underline;}

.box{width:400px; margin:50px auto 0;}
.box a{font:bold 21px Arial, Helvetica, sans-serif; color:#003471; margin:0 20px;}
/*---------------table-------------------*/
.column2{margin:0 0 0 37px; padding:0; display:inline-block; }
.table_box        {width:400px; margin: 0 auto; padding:24px 0 0 0;}
.tr_bg             {border:0 none;}

.td_bg            { margin:0 0 0 40px}
.td_bg p          {font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#000; display:block; padding:0 0 0 0px; margin:0 0px 0 0; font-weight:bold;}
.td_bg span          {font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#003471; display:block; padding:0 0 0 0px; margin:0 0px 0 0;font-weight:bold;}
.td_bg b          {font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#790000; display:block; padding:0 0 0 0px; margin:0 0px 0 0;font-weight:bold;}

.td_bg .last     { padding:0 0 0 15px;}
.tr_bg_01             { border-bottom:#e2e2e2 1px dashed;}
.tr_bg_01 .txt         { font-size:11px; color:#333333; padding:0 0 0 10px; margin:0 10px 0 0;}
.tr_bg_01 .txt_01         { font-size:11px; color:#0099cc; padding:0 0 0 10px; margin:0 10px 0 0;}

/* ----------------------------instructor6----------------------*/

.videos{width:770px;}
.videos h2{font:bold 22px Arial, Helvetica, sans-serif; color:#000;}

.box1{border-bottom:1px solid #ccc; padding:15px 0;}
.box1 a{display:inline-block; float:left;}
.inner-box{display:inline-block; float:right; width:550px;}
.inner-box span{font:bold 14px Arial, Helvetica, sans-serif; color:#004a80;}
.inner-box p{font:normal 11px Arial, Helvetica, sans-serif; color:#000;}
.inner-box ul{margin:0; padding:0;}
.inner-box li{display:inline-block; float:left; margin:0; padding:0 20px 0 0;}
.inner-box ul li a{font:normal 11px Arial, Helvetica, sans-serif; color:#707070; margin:0; padding:0 0 0 23px;}
.inner-box ul li a.icon1{background:url(/assets/icon1.png) no-repeat left top;}
.inner-box ul li a.icon2{background:url(/assets/icon2.png) no-repeat left top;}
.inner-box ul li a.icon3{background:url(/assets/icon3.png) no-repeat left top;}

.inner-box ul li a:hover{text-decoration:underline;}

.more-main{border:2px solid #000; margin:17px 0 0; padding:10px 0; width:769px;}
.more-main span{font:bold 14px Arial, Helvetica, sans-serif; color:#000; margin:10px 20px; display:inline-block;}

.slider{width:680px; margin:0 auto; padding:10px 0; position:relative;}
.box4{ float:left; display:inline-block; width:170px; text-align:center;}
.box4 a{display:inline-block; margin:0 0px;}
.box4 p{font:normal 13px Arial, Helvetica, sans-serif; color:#004a80; margin:5px 0 0 0;}
.box4 span{font:normal 13px Arial, Helvetica, sans-serif; color:#000; margin:0; padding:0;}

.arrows{position:absolute; top:60px; left:-35px; margin:0; padding:0; width:750px;}
.arrows a{margin:0; padding:0;}
.arrows a.right{margin:0; padding:0; position:absolute; right:0; }

.bottom{display:inline-block; margin:20px 0 60px; padding:0;}
.bottom ul{margin:0; padding:0;}
.bottom ul li{display:inline-block; float:left; background:url(/assets/bot-arrow.png) no-repeat left 6px; padding:0 7px 0 15px;}
.bottom ul li a{font:normal 10px Arial, Helvetica, sans-serif; color:#000;}
.bottom ul li a:hover{text-decoration:underline; color:#004a80;}
.bottom ul li a.active{color:#004a80;}

.fashion_content_page2{border:1px solid #969696; width:704px; margin:0 auto; padding:20px 22px 14px 18px;}
.fashion_content_page2 h2{font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#000000; padding:0 0 14px; margin:0; line-height:24px;}
.fashion_content_page2 .p1{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000000; padding:0 0 16px; margin:0; line-height:12px;}
.fashion_content_page2 .p1 span{font-style:italic;}
.fashion_content_page2 .p2{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; padding:0; margin:0; line-height:18px;}
.fashion_content_page2 .imge{border:0; float:left;}
.fashion_content_page2_cnt{float:right; width:446px; padding:0 82px 0 0;}



/* ------------------------ INNER8 HERE --------------*/
.inner8_content								{ padding:47px 0 0 0;}
.inner8_box h2								{ font-size:27.68px; color:#000; padding: 0px 0 16px 0; margin:0px;}
.inner8_box									{ padding:21px 0 0 12px;}
.inner8_box	img.video						{}
.top_links ul								{ float:left; display:inline-block; margin:0; padding:0;}
.top_links									{ margin-bottom:14px;}
.top_links ul li							{ float:left; display:inline-block;}
.top_links ul li a							{ display:inline-block; font-size:9.23px; color:#004a80; padding:0 3px;}
.top_links ul li a span						{ float:left; padding-right:6px;}
.inner8_box									{ border:1px solid #cbcbcb; min-height:1600px; width: 550px}
.suceess									{}
.success_left p									{ font-size:12.3px; color:#000; padding:0 0 20px 0; margin:0;}
.success_left								{ float:left;  width:377px; padding-left:9px;}
.success_left p span								{ font-weight:bold;}
.video										{ float:right; width:322px; margin-right:15px;}
.video img									{ margin:0 10px 4px 0;}
.video a									{ font-size:11.53px; color:#003471; float:left; display:inline-block;}
.basic										{ box-shadow:inset 0 0 9px 0 #EBEBEB ; width:242px; min-height:312px; background:#fff; border:1px solid #ebebeb; margin-top:16px; border-radius:5px; float:left;}
.price p.type									{  margin:0; font-size:18.45px; color:#686868; font-weight:bold; text-align:center; padding:11px 0 0px 0;}
.price										{ border-bottom:1px solid #f4f4f4; padding-bottom:6px;}
.price p.cost								{ font-size:64.59px; color:#686868; font-weight:bold; text-align:center; padding:9px 0; margin:0; line-height:0.7;}
.price p.duration							{ font-size:12.3px; color:#686868; text-align:center; padding:0; margin:0;}
.price p.cost span							{ font-size:27.68px; color:#686868;}
.specials ul								{ float:left; display:inline-block; margin:0; padding:0; width:100%;}
.specials ul li.item								{ background:url(/assets/right_tick.png) no-repeat 14px 6px; font-size:11.53px; color:#444444; list-style:none; padding:7px 0 7px 41px;  border-bottom:1px solid #f4f4f4;}
.specials ul li.plan a						{ background:url(/assets/plan_btn_bg.jpg) repeat-x top left; height:17px; display:inline-block; padding:5px 15px 4px 15px; border-radius:5px; font-size:11.53px; color:#fff; margin-left:60px; margin-top:8px; }
.specials ul li.plan						{ list-style:none;}
.premium .specials ul						{  border-top:1px solid #f4f4f4;}
.premium									{ width:246px; position:relative;box-shadow:inset 0 0 9px 0 #EBEBEB ; min-height:326px; float:left; background:#fff;}
.premium img.best_value						{ position:absolute; top:-3px; right:-4px;}
.premium .price								{ background:url(/assets/yellow_premium_bg.jpg) repeat-x top left; height:139px; padding-bottom:0;}
.price p.type1								{ font-size:18.45px; color:#683503; text-align:center; padding:18px 0 0 0; margin:0;}
.price p.cost1								{ font-size:76.89px; color:#683503; font-weight:bold; text-align:center; padding:7px 0; margin:0; line-height:0.7;}
.price p.cost1 span							{ color:#683503; font-size:17.68px; padding:0; margin:0; text-align:center;}
.price p.duration1							{ padding:0; margin:0; font-size:12.3px; color:#683503; text-align:center;}
.premium .specials ul li.plan a				{  background:url(/assets/plan_btn_bg1.jpg) repeat-x top left; height:17px; display:inline-block; padding:5px 15px 4px 15px; font-size:11.53px; color:#fff; margin-left:60px; margin-top:0px; border-radius:0; padding:17px 109px 17px 74px; margin-left:0; }
.clients p.seen								{ font-size:11.63px; color:#a1a1a1; padding:0; margin:0;}
.clients ul									{ float:left; display:inline-block; margin:0; padding:0;}
.clients									{ margin:44px 0;}
.clients ul li									{ float:left; display:inline-block; list-style-type:none;}
.clients ul li a							{ display:inline-block; margin-right:16px;}
.clients ul li a img						{ border:0;}
.clients ul li a.one 						{ margin-top:6px;}
.clients ul li a.two 						{ margin-top:7px;}
.people_say									{}
.people_say h3								{ font-size:27.68px; color:#1b1b1b; padding:0; margin:0 0 44px 0; text-align:center;}
.people_say	 p.testimonial					{ padding:17px 0 0 0; margin:0; font-size:18.45px; color:#1b1b1b;}
.people_say	 p.testimonial span				{ }
.owner										{ width:201px; float:left; padding:0 0 0 7px;}
.owner img									{ border:1px solid #efefef; padding:3px;}
.testimonials								{ float:left; width:509px;}
.testimonials p.name_company				{ font-size:18.45px; color:#1b1b1b;}
.testimonials p.name_company span			{ font-weight:bold;}
.testimonials p.name_company a:hover		{ text-decoration:underline;}
.people_say1								{ margin-top:50px; margin-bottom:70px;}
.people_say1 p.name_company					{ text-align:right;}
.people_say1 p.testimonial					{ padding-left:15px;}
.people_say1 .owner	img						{ margin-left:32px;}


.dashboard{width:765px;margin:0 auto;padding:30px 0;}
.cnt-nav{padding:0 0 18px;}
.cnt-nav ul{float:left;display:inline-block;margin:0;padding:0;}
.cnt-nav ul li {float:left;display:inline-block;
  background-repeat: no-repeat;
  background-position: right 5px;
  background-image: url(/assets/top-nav-li-spt.png);
  padding:0 15px 0 5px;margin:0;list-style:none;
}
.cnt-nav ul li a{display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:9px;color:#000;}
.cnt-nav ul li a:hover, .cnt-nav ul li .active{color:#004a80;}

.marketing{width:735px;padding:15px 15px 18px;border:2px solid #a3a3a3;border-radius:2px;margin:0 0 35px;}
.marketing h1{font-family:Arial, Helvetica, sans-serif;font-size:21px;color:#000;font-weight:bold;margin:0;padding:0 0 8px;}
.marketing h6{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#000;padding:0 0 22px;margin:0;}
.marketing h6 a{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#003471;display:inline-block;}
.cnt-marketing{}
.cnt-marketing img{float:left;display:inline-block;}
.cnt-marketing p{float:right;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#000;width:520px;padding:15px 0 0;margin:0;line-height:20px;}
.cnt-marketing p a{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#003471;display:inline-block;}

.subjects-like{}
.subjects{float:left;}
.subjects h6{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#000;font-weight:bold;margin:0;padding:0 0 5px;}
.subjects ul{margin:0 0 45px;padding:0;display:block;}
.subjects ul li{margin:0;padding:0 0 5px;display:block;}
.subjects ul li a{display:block;font-family:Arial, Helvetica, sans-serif;font-size:9px;color:#003471;}
.subjects ul li a span{display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:9px;color:#555;}

.like-cnt{float:right;}
.content-like{width:560px;padding:15px 35px 0px 20px;border:2px solid #bdbdbd;margin:0 0 32px;}
.content-like h6{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#000;font-weight:bold;margin:0;padding:0 0 20px;}
.content-like ul{display:block;margin:0;padding:0 0 0 15px;}
.content-like ul li{float:left;display:inline-block;margin:0;padding:0 0 35px 15px;}
.content-like ul li a{display:inline-block;width:165px;text-align:center;}
.content-like ul li a img{display:block;padding:0 0 10px;}
.content-like ul li a span{display:block;width:165px;text-align:center;color:#004a80;font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:20px;}

.cnt-profile{width:565px;padding:28px 22px 24px 20px;border:2px solid #bdbdbd;margin:15px 0 32px;}
.cnt-profile img{float:left;}
.profile-txt{float:right;width:410px;}
.profile-txt h3{margin:0;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:18px;padding:0 0 10px;}
.profile-txt h6{margin:0;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;padding:0 0 15px;font-weight:normal;}
.profile-txt h6 span{display:inline-block;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;font-style:italic;}
.profile-txt p{margin:0;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:12px;line-height:18px;padding:0 0 5px;}
.profile-txt a{display:block;text-align:right;font-family:Arial, Helvetica, sans-serif;color:#003471;font-size:12px;}
/* ---------------------------------------------------------*/


/* ------------------------ Admin-Users HERE --------------*/
.admin-users{}
.admin-users-cnt{width:730px;margin:0 auto;}

.memberlist-cnt{width:720px;margin:100px auto 200px;padding:15px 0 20px;}
.memberlist-cnt h5{float:left;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:18px;font-weight:bold;padding:0;margin:0 0 15px;}
.search{float:right;margin:0 70px 0 0;}
.search label{font-family:Arial, Helvetica, sans-serif;color:#000;font-size:14px;font-weight:bold;padding:0;margin:0px;display:inline-block;width:80px;}
.search .text-field-search{background-color:#fff;border:1px solid #000;display:inline-block;width:200px;padding:5px 0 5px 10px;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:12px;}

.memberlist-cnt .heading{display:block;padding:0 0 40px;}
.memberlist-cnt .heading li{float:left;display:inline-block;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;font-weight:bold;}
.memberlist-cnt .heading .col-1{width:110px;}
.memberlist-cnt .heading .col-2{width:185px;}
.memberlist-cnt .heading .col-3{width:110px;}
.memberlist-cnt .heading .col-4{width:115px;}
.memberlist-cnt .heading .col-5{width:100px;text-align:center;}
.memberlist-cnt .heading .col-6{width:100px;text-align:center;}

.memberlist-cnt .row-cnt{display:block;padding:0 0 5px;}
.memberlist-cnt .row-cnt li{float:left;display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.memberlist-cnt .row-cnt .row-col-1{width:110px;color:#000;}
.memberlist-cnt .row-cnt .row-col-2{width:185px;color:#000;}
.memberlist-cnt .row-cnt .row-col-3{width:110px;color:#197b30;}
.memberlist-cnt .row-cnt .row-col-3 span{width:110px;color:#000;display:inline-block;}
.memberlist-cnt .row-cnt .row-col-4{width:115px;color:#000;}
.memberlist-cnt .row-cnt .row-col-5{width:100px;text-align:center;color:#000;}
.memberlist-cnt .row-cnt .row-col-6{width:100px;text-align:center;color:#004a80;}

.pager{display:block;margin:40px auto 0;width:200px;}
.pager li{float:left;display:inline-block;padding:0 5px 0 0;}
.pager li a{display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#004a80;}


/*---------- tab pane --------------------*/

.tab_cnt{border:1px solid #acacac; float:right; overflow: scroll; height: 520px;overflow-x: hidden;}
.tab_cnt ul{list-style:none; padding:0; margin:0; display:inline-block; background:url(/assets/grad_bg2.jpg) repeat-x;}
.tab_cnt ul li{display:inline-block; float:left; padding:0; margin:0; border-bottom:1px solid #cccccc;}
.tab_cnt ul li a{display:inline-block; width:108px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; border-right:1px solid #c9c9c9; padding:12px 0;}
.no_bdr{border:0 !important;}
.tab_cnt ul li a.current{background:#ffffff;}
.tab_container{width:380px; margin:0 auto; padding:30px 0 0 0; min-height:400px;overflow: auto;}
.tab_container h5{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; padding:0 0 6px; margin:0;}
.tab_container p{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; padding:0 0 18px; margin:0; line-height:20px;}
.tab_container .subject1{display:inline-block; float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; padding:0 8px 8px 0;}
.tab_container .links1{display:inline-block; float:left; background:#efefef;margin:0 4px 8px 0;}
.tab_container .instructor1{display:inline-block; float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000;padding:0 8px 0 0;}
.tab_container .links1{display:inline-block; float:left; background:#efefef; padding:0 4px;}


.ui-tabs {
  position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  padding:0;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding:0;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin:0;
  border-bottom:1px solid #cccccc;
  padding: 0;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding:12px 0;
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom:0;
  padding-bottom:0;border-bottom:0;

}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
  background:#fff;
  font-weight:bold;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  ;
  background: none;
}

.navbar .nav>li>a,
.navbar .dropdown-menu a{padding:6px 15px;font-weight:bold;color:#999999;-webkit-border-radius:3px;
  -moz-border-radius:3px;border-radius:3px;}
.navbar .dropdown-menu li+li a{margin-bottom:2px;}
.navbar .nav>li>a:hover,
.navbar .dropdown-menu a:hover{background-color:#222222;}
.navbar .dropdown-menu{position:static;top:auto;right:auto;float:none;display:block;
  max-width:none;margin:0 15px;padding:0;background-color:transparent;border:none;-webkit-border-radius:0;
  -moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.navbar .dropdown-menu:before,.navbar .dropdown-menu:after{display:none;}
.navbar .dropdown-menu .divider{display:none;}
