/* top video */

#main-video {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 23px 0;
}
#main-video .left p {
  font-size: 22px;
  line-height: 26px;
  margin: 38px 0 20px 0;
  width: 450px;
}
#text-discover {
  float: left;
  width: 549px;
  height: 112px;
  margin: 0 0 0 18px !important;
  text-indent: -9000px;
  background: url(/assets/text-discover.png) top left no-repeat;
}
#btn-get-started {
  float: left;
  clear: both;
  width: 276px;
  height: 23px;
  background: #e6bc56; /* Old browsers */
  background: -moz-linear-gradient(top, #e6bc56 0%, #d79a2f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6bc56), color-stop(100%, #d79a2f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e6bc56 0%, #d79a2f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e6bc56 0%, #d79a2f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e6bc56 0%, #d79a2f 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e6bc56 0%, #d79a2f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bc56', endColorstr='#d79a2f', GradientType=0 ); /* IE6-9 */
  color: #FFF;
  text-align: center;
  font-size: 21px;
  font-family: Myriad, Helvetica, Arial, sans-serif;
  border-radius: 4px;
  margin: -50px 0 0 50px;
  text-shadow: #000 0px 1px 1px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 19px 0 23px 0;
}
#main-video .right {
  margin: -6px 0 0 0;
}
/* as seen */

#main-as-seen {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 61px 0;
}
#main-as-seen img {
  float: left;
  margin: 0 0 0 70px;
}
/* how it works */

#main-how-it-works {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 71px 0;
}
#main-how-it-works h2 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 30px;
  margin: 0 0 40px 0;
}
.step {
  float: left;
  clear: none;
  width: 219px;
  height: 250px;
  background: url(/assets/box.gif) top left no-repeat;
  margin: 0 26px 0 0;
  position: relative;
  cursor: pointer;
}
.step#step1 {
  margin: 0 26px 0 23px;
}
.step#step4 {
  margin: 0;
}
.step h3 {
  clear: both;
  float: left;
  width: 100%;
  margin: 10px 0 00;
  text-align: center;
  font-size: 17px;
}
.step h3 span {
  color: #d5962c;
}
.step img {
  position: absolute;
  top: 100px;
  left: 47px;
}
.step .wrap {
  width: 219px;
  height: 195px;
  position: absolute;
  bottom: 0px;
  left: 9px;
  overflow: hidden;
}
.step .wrap .text {
  width: 203px;
  height: 185px;
  position: absolute;
  top: -130px;
  left: 0px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  background: url(/assets/arrow.png) 90px 130px no-repeat;
}
.step .wrap .text p {
  width: 203px;
  height: 130px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  background: #FFF;
}
/* instructors */

#main-instructors {
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 65px 0;
}
#main-instructors h2 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  margin: 0 0 30px 0;
}
#main-instructors p {
  float: left;
  width: 100%;
  clear: both;
  text-align: center;
}
#main-instructors h3 {
  float: left;
  width: 100%;
  clear: both;
  text-align: center;
  font-size: 21px;
  color: #d5962c;
  font-weight: normal;
  margin: 34px 0 27px 0;
}
.instructors {
  width: 762px;
  height: 260px;
  float: left;
  clear: both;
  margin: 0 0 11px 120px;
  position: relative;
}
.instructor {
  width: 159px;
  height: 260px;
  float: left;
  margin: 0 36px 0 0;
  cursor: pointer;
}
.instructor.last {
  margin: 0;
}
.prev {
  width: 53px;
  height: 97px;
  position: absolute;
  top: 97px;
  left: -58px;
  cursor: pointer;
  background: url(/assets/arrow1.png) top left no-repeat;
}
.next {
  width: 53px;
  height: 97px;
  position: absolute;
  top: 97px;
  right: -58px;
  cursor: pointer;
  background: url(/assets/arrow2.png) top left no-repeat;
}
/* horizontal carousel */

#carousel-horizontal {
  float: left;
  clear: both;
  width: 700px;
  height: 258px;
  margin: 0 0 0 20px;
}
#carousel-horizontal #carousel .jcarousel-direction-rtl {
  direction: rtl;
}
#carousel-horizontal .jcarousel-clip {
  overflow: hidden;
}
#carousel-horizontal #carousel .jcarousel-container-horizontal {
  width: 700px;
}
#carousel-horizontal #carousel {
  width: 700px;
  height: 258px;
  margin: 0;
}
#carousel-horizontal .jcarousel-clip-horizontal {
  width: 700px;
  height: 258px;
  margin: 0;
}
#carousel-horizontal .jcarousel-item {
  width: 160px;
  height: 258px;
}
#carousel-horizontal .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 18px;
}
#carousel-horizontal .jcarousel-next-horizontal {
  width: 53px;
  height: 97px;
  position: absolute;
  top: 97px;
  right: -58px;
  cursor: pointer;
  background: url(/assets/arrow2.png) top left no-repeat;
}
#carousel-horizontal .jcarousel-prev-horizontal {
  width: 53px;
  height: 97px;
  position: absolute;
  top: 97px;
  left: -58px;
  cursor: pointer;
  background: url(/assets/arrow1.png) top left no-repeat;
}
/* roadmap */

#main-roadmap {
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 65px 0;
}
#main-roadmap h2 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  margin: 0 0 30px 0;
}
#main-roadmap p {
  float: left;
  width: 100%;
  clear: both;
  text-align: center;
}
#main-roadmap img {
  float: left;
  margin: 18px 0 0 62px;
}
/* covered */

#main-covered {
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 65px 0;
}
#main-covered h2 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  margin: 0 0 27px 0;
}
#main-covered h3 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 19px;
  text-align:center;
}
#main-covered img {
  clear: both;
}
#main-covered p {
  float: left;
  width: 94%;
  clear: both;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
}
#main-covered .row {
  margin: 0 0 0 60px;
}
#main-covered .col {
  float: left;
  width: 270px;
  margin: 0 26px 0 0;
}
#main-covered .col:last-child {
  margin: 0;
}
/* video 2 */

#main-video2 {
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 49px 0;
  text-align: center;
}
#main-video2 h2 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 34px;
  margin: 0 0 19px 0;
}
#text-watch {
  width: 501px;
  height: 52px;
  margin: 0 auto 23px auto;
  clear: both;
  text-indent: -9000px;
  background: url(/assets/text-watch.gif) top left no-repeat;
}
#main-video2 img {
  margin: 0 auto;
}
/* bookcase 1 */

#main-bookcase1 {
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 59px 0;
}
#main-bookcase1 h2 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}
#main-bookcase1 p {
  float: left;
  width: 100%;
  clear: both;
  text-align: center;
  margin: 0 0 12px 0;
}
.bookcase {
  width: 830px;
  height: 522px;
  margin: 0 auto;
  clear: both;
  padding: 35px 0 0 56px;
  background: url(/assets/bookcase.gif) top left no-repeat;
}
.bookcase .course {
  width: 273px;
  height: 160px;
  margin: 0;
  float: left;
}
.bookcase .course img {
  width: 106px;
  height: 135px;
  margin: 0;
  float: left;
}
.bookcase .course h3 {
  width: 145px;
  padding: 32px 10px;
  margin: 0;
  float: left;
  color: #2d1307;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
}
.bookcase .course.last h3 {
  width: 155px;
  padding: 32px 10px 0 0;
}
.bookcase .course h3 a {
  color: #2d1307;
  text-align: center;
  font-size: 18px;
}
/* bookcase 2 */

#main-bookcase2 {
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 60px 0;
}
#main-bookcase2 h2 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}
#main-bookcase2 p {
  float: left;
  width: 100%;
  clear: both;
  text-align: center;
  margin: 0 0 12px 0;
}
/* testimonials */

#main-testimonials {
  float: left;
  width: 100%;
  clear: both;
  margin: 0;
}
#main-testimonials h2 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  margin: 0 0 36px 0;
}
#main-testimonials .testimonials {
  clear: both;
  float: left;
  width: 640px;
  margin: 0 0 0 186px;
}
#main-testimonials .testimonial {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 24px 0;
}
#main-testimonials .testimonial img {
  float: left;
  clear: none;
  margin: 0 36px 24px 0;
  border: 5px solid #FFF;
}
#main-testimonials .testimonial-content {
  float: left;
  clear: none;
  width: 460px;
  margin: 8px 0 0 0;
  font-size: 18px;
}
#main-testimonials .testimonial-content img {
  float: left !important;
  margin: 0 4px 4px 0 !important;
  border: 0px;
}
#main-testimonials .testimonial-text {
  float: left;
  width: 100%;
  margin: 0 0 12px 0;
  font-size: 16px;
}
#main-testimonials .testimonial-meta {
  float: left;
  width: 100%;
  margin: 0;
  font-size: 16px;
  text-align: left;
}
#main-testimonials .testimonial-name {
  font-weight: bold;
}
#main-testimonials .testimonial.right img {
  float: right;
  margin: 0 0 24px 36px;
}
#main-testimonials .testimonial.right .testimonial-meta {
  text-align: right;
}
/* main cta */

#main-cta {
  width: 100%;
  height: 179px;
  margin: 0 0 67px 177px;
  clear: both;
}
#main-cta a {
  width: 740px;
  height: 220px;
  margin: 0;
  clear: both;
  background: url(/assets/main-cta.gif) top left no-repeat;
  text-indent: -9000px;
  float: left;
}
/* questions */

#main-questions {
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 65px 0;
}
#main-questions h2 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  margin: 0 0 34px 0;
}
#main-questions .question {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}
#main-questions h3 {
  clear: both;
  float: left;
  width: 100%;
  font-size: 15px;
  margin: 0;
}
#main-questions p {
  float: left;
  width: 94%;
  clear: both;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
}
#main-questions .row {
  margin: 0 0 0 60px;
}
#main-questions .col {
  float: left;
  width: 400px;
  margin: 0 36px 0 0;
}
#main-questions .col:first-child {
  float: left;
  width: 400px;
  margin: 0 36px 0 40px;
}
#main-questions .col:last-child {
  margin: 0;
}

#main {
  width: 980px;
  margin: 0 auto;
  position: relative;

}

.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 50%;
}
.col {
  float: left;
  width: 50%;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  background: #333;
  opacity: 0.6;
  top: 0;
  left: 0;
  display: none;
}
.popup {
  width: 900px;
  height: 570px;
  background: #FFF;
  position: fixed;
  display: block;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin: -290px 0 0 -450px;
  border: 4px solid #9b9b9b;
  border-radius: 12px;
  display: none;
}
.popup-close {
  width: 55px;
  height: 55px;
  background: url(/assets/popup-close.png) top left no-repeat;
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer;
}
.popup-image {
  float: left;
  margin: 46px 30px 0 44px;
  width: 296px;
}
.popup-content {
  float: left;
  margin: 72px 30px 0 0;
  width: 480px;
}
.popup-text {
  float: left;
  clear: both;
  width: 100%;
  margin: 0 0 24px 0;
  font-size: 16px;
}
.popup-text p {
  float: left;
  clear: both;
  width: 100%;
  margin: 0 0 24px 0;
  font-size: 16px;
  line-height: 20px;
}
.popup-content h3 {
  float: left;
  clear: both;
  width: 100%;
  margin: 0 0 24px 0;
  font-size: 19px;
}
.popup-courses {
  float: left;
  clear: both;
  width: 100%;
}
.popup-course {
  float: left;
  margin: 0 32px 0 0;
  width: 120px;
}
.popup-course img {
  margin: 0 auto 12px;
  display: block;
}
.popup h4 {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}
.popup-course:last-child {
  float: left;
  margin: 0;
}

.popup-purchase {
  width: 780px;
  height: 490px;
  background: #FFF;
  border:4px solid #e49800;
  position: fixed;
  display: block;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin: -265px 0 0 -383px;
  border-radius: 0px;
  display: none;
}
.popup-purchase .popup-close {
  width: 55px;
  height: 55px;
  background: url(/assets/purchase-close.png) top left no-repeat;
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer;
}
.popup-purchase .popup-content {
  float: left;
  margin: 40px 0 0 0;
  width: 100%;
  text-align:center;
  color:#000;
}
.popup-purchase .popup-content p {
  font-size:19px;
  line-height:1.5;
  font-weight:bold;
  color:#000;
}
.sales-page-offer-box {
  padding: 0px !important;
  width: 550px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
.popup-purchase  .affiliates-form {
  float: left;
  clear: both;
  width: 80%;
  margin: 0 0 12px 80px;
}
.popup-purchase  .af-form {
  width: 80% !important;
  background: #e6e6e6 !important;
  border-radius: 12px !important;
  position: relative !important;
  padding: 12px 0 12px !important;
  overflow: visible !important;
  margin: 0px 0 0px 10% !important;
}


/* inner */

.inner #main {
  width: 814px;
}
#inner-page {
  float: left;
  clear: both;
  width: 100%;
  min-height: 900px;
}
#inner-content {
  float: left;
  clear: both;
  width: 695px;
  margin: 48px 0 50px 55px;
}
#inner-content h1 {
  float: left;
  clear: both;
  width: 100%;
  font-size: 28px;
  text-align: center;
  margin: 12px 0 60px 0;
}
#inner-content a {
  color:  #d58601;
}
#inner-content p {
  float: left;
  clear: both;
  width: 100%;
  font-size: 14px;
  text-align: left;
  margin: 0 0 14px 0;
}

#placeholder {
  height: 650px;
}

#subtitle {
  font-size: 11px;
}