// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*

.product-summury {
  margin: 0 auto;
  width: 756px;
  .first-paragraph{
    font-size: 35px;
    margin-left: 10px;
  }
  .second-paragraph {
    font-size: 40px;
  }

}
*/
