body{color:#b1b1b1; font-family:"Arial", Verdana, Tahoma; font-size:12px; padding:0;}

.clear {
    clear:both;
    font-size:1px;
    line-height:1px;
    display:block;
    height:0;
}

.clrflt{
    clear:both;
}
.last	{
    margin:0 !important;
}
.pad_last{
    padding:0 !important;
}
.no_bg {
    background:none !important;
}

a {color:#000; text-decoration:none; outline:0 none;}
a:hover {color:#000;  text-decoration:none;}
h1 {font-size:24px;}
h2 {font-size:22px;}
h3 {font-size:18px;}
h4 {font-size:16px;}
h5 {font-size:14px;}
h6 {font-size:12px;}

html{}
body {
    color:#b1b1b1;
    font-family:"Arial", Verdana, Tahoma;
    font-size:12px;
    padding:0;
    margin:0;
}
.flt_lt {
    float:left;
    display:inline;
}
.flt_rt {float:right;
    display:inline;
}

/* ----------------------- layout ----------*/
.wrapper {
    margin:0 auto;
}
.container {
    width:748px; margin:0 auto;
}
.container2 {
    width:724px; margin:0 auto;
}
.main_content {
    padding:0 0 25px;
}
.header{
    background:url(/assets/header_bg.png) repeat-x; border-top:#8d8d8d 1px solid; border-bottom:#ffb72e 3px solid; margin:12px 0 0 0;
}
.header_main {
    width:745px; margin:0 auto;
    margin-bottom: -5px;
}


/* ------------------ HEADER HERE -------------------*/
.logo										{ padding:6px 22px 3px 0; float:left;}
.header_right                               {float:right; padding:18px 0 0 0;}
.header_right ul                            {float:left; display:inline-block; list-style:none; padding:0; margin:0;}
.header_right ul li                         {float:left; display:inline-block; background:url(/assets/header-right_li.png) no-repeat center right; margin:0 0 0 12px; padding:0;}
.header_right ul li a                       {font-family:"Arial", Verdana, Tahoma; font-size:11px; color:#ffffff; margin:0 11px 0 0; display:inline-block;}
.header_right ul li a:hover                 { text-decoration:underline;}
/* ---------------------------------------------------------*/


/* ------------------------- NAVIGATION HERE ---------------*/
#nav										{ float:left; padding:2px 0 4px 0; background:url(/assets/nav_li.png) no-repeat right center;}
#nav ul										{ float:left; display:inline-block; list-style:none; padding:0; margin:0;}
#nav ul li									{float:left; display:inline-block; margin:0 0 0 0; padding:0;}
#nav ul li a								{font-family:"Arial", Verdana, Tahoma,serif; font-size:14px; color:#ffffff; margin:0 0 0 17px; display:inline-block; padding:11px 15px 6px 18px; background:url(/assets/nav_li.png) no-repeat center left;}
#nav ul li a span							{ background:url(/assets/arrow_down.png) no-repeat center right;  display:inline-block;   padding: 0 20px 0 0;}
#nav ul li a:hover							{ text-decoration:underline;}


/* ------------------ FOOTER HERE --------------------------*/
.footer										{ background:url(/assets/footer_top.png) repeat-x #252525; min-width:870px;}
.footer_main                                {width:860px; margin:0 auto; padding:45px 0 26px 0;}
.footer_main .block                       { float:left;  width:130px;}
.footer_main .block ul                             {list-style:none; padding:0; margin:0; }
.footer_main .block ul li                          {padding:0; margin:0;}
.footer_main .block ul li p                        { font-family:"Arial", Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#ffffff; margin:0 0 18px 0;}
.footer_main .block ul li a                       { font-family:"Arial", Helvetica, sans-serif; font-size:9px;  color:#ffffff; display:block;}
.footer_main .block ul li a:hover                 { text-decoration:underline;}
.footer_logo                                {float:right; padding:32px 0 0 0;}
.footer_bottom                               {background:url(/assets/footer_bottom_bg.png) repeat-x; min-width:870px;}
.footer_bottom  .footer_main                                {width:866px; margin:0 auto; padding:30px 0 20px 0; background:url(/assets/footer_shadow_line.png) repeat-x bottom left;}
.footer_main .block                       { float:left;  width:130px;}
.footer_main .block ul                             { padding:0; margin:0; list-style:none;}
.footer_main .block ul li                          {padding:0; margin:0;}
.footer_main .block ul li p                        { font-family:"Arial", Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#ffffff; margin:0 0 5px 0;}
.footer_main .block ul li a                       { font-family:"Arial", Helvetica, sans-serif; font-size:9px;  color:#ffffff;display:inline-block;}
.footer_main .block ul li a:hover                 { text-decoration:underline;}
.footer_main .social_icons                       {float:right; margin:-40px 0 0 0;}
.social_icons ul                                  { float:left; display:inline-block; padding:0; margin:0; list-style:none;}
.social_icons ul li                               { float:left; display:inline-block; margin:0 0 0 8px; padding:0;}
.social_icons ul li p                             {font-family:"Arial", Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#959595; text-align:center; padding:6px 0 0 0;}
.copy										{width:860px; margin:0 auto; padding:25px 0 0 0;   }
.copy ul                                      { float:left; display:inline-block; list-style:none; padding:0; margin:0; }
.copy ul li                                   {float:left; display:inline-block; margin:0 0 0 11px; background:url(/assets/copy_li.png) no-repeat center right; padding:0;}
.copy ul li a                                 {font-family:"Arial", Helvetica, sans-serif; font-size:11px; color:#959595; margin:0 10px 0 0; display:inline-block;}
.copy ul li a:hover                           { text-decoration:underline;}
.copy ul li.no_margin                         {margin:0 0 0 0 !important;}
.copy p                                       {font-family:"Arial", Helvetica, sans-serif; font-size:11px; color:#959595; margin:12px 0 10px 0;}

/* -------------login page -----------------*/
.member_login{width:360px; margin:140px auto 200px; border:1px solid #e8e8e8;}
.member_login h2{font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#fff; padding:10px 0; margin:0; text-align:center; border:1px solid #7e7e7e; background:url(/assets/grad_bg3.jpg) repeat-x;}
.member_login .form_div{border:1px solid #c5c7ca; padding:0 0 16px;}
.member_login .form_div ul{list-style:none; padding:12px 0 0 0; margin:0 auto; display:block; width:328px; }
.member_login .form_div ul li{padding:0 0 15px; margin:0; display:block;}
.member_login .form_div ul li .txt_box{width:310px; border:2px solid #dfe0e1; border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#464646; font-weight:bold; padding:12px 0 12px 14px;}
.member_login .form_div ul li .password{width:310px; border:2px solid #dfe0e1; border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#464646; font-weight:bold;padding:12px 0 12px 14px;}
.member_login .form_div  label{display:inline-block; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7a7a7a; font-weight:bold; padding:16px 0 0 0; margin-top: -7px;}
.member_login .form_div .chk_box{float:left; border:0;  margin:16px 15px 0 16px; display:block;}
.member_login .form_div .login{background:url(/assets/grad_bg4.jpg) repeat-x; width:128px; text-align:center; display:inline-block; float:right; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; font-weight:bold; padding:11px 0; margin:0 20px 0 0; border:1px solid #d5920d; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}


/*-------------home page --------------*/
.video_share{
    float:left;
    width:110%;
    margin-top: 35px;
}
.text_share{
    float:left;
    width:468px;
}
.text_share_P{
    float:left;
    width:404px;
    margin-left: 5px;
    margin-top:40px;
    margin-bottom: 34px;
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:19px;
}


.list_text{
    float:left;
    width:78%;
    margin-left:22%;
    margin-top:26px;
}

.text_item_p{
    float:left;
    width:100%;
    text-indent:96px;
}

.list_text li{
    float: left;
    width:100%;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:#000;
    line-height:24px;
}

.video{
    float:left;
    width:468px;
}
.video iframe{
    float:left;
}
