
<footer><!--Footer Start-->
  <div class="warper_footers">
    <div class="inwarps">
      <div class="footers lefts">
        <div class="footers-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footers-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footers-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footers-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footers-menu">
          <img class="footers-menu-logo" src="images/footer-logo.png" alt="footer logo" />
        </div>
      </div>
    </div>
  </div>
  <div class="warper_footers-bottom">
    <div class="inwarps">
      <div class="footers lefts footerborder">
        <div class="footers-bottom-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footers-bottom-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footers-bottom-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footers-bottom-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footers-bottom-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footers-bottom-menu">
          <h2 class="footers-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="social-medias">
          <div class="social-areas">
            <a class="followss lefts">Follow Us!</a>
            <a class="iconss lefts"><img src="images/googleplus.png"  alt="Google Plus" /></a>
            <a class="iconss lefts"><img src="images/twitter.png"  alt="Twetter" /></a>
            <a class="iconss lefts"><img src="images/in-social.png"  alt="Linkdin" /></a>
            <a class="iconss lefts"><img src="images/facebook.png"  alt="Facebook" /></a>
          </div>
        </div>
      </div>
      <div class="footers lefts">
        <div class="footers-last-menu">
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <p class="copyrights lefts">Copyright &copy; 2013 Lessons On Becoming a Milionaire</p>
      </div>
    </div>
  </div>
</footer><!--Footer End-->