<hr />
<footer id="colophon">
  <div id="footer-credit">Copyright
    &copy;
    2013 Lessons On Becoming A Millionaire</div>
  <!-- footer nav begins -->
  <div class="span3">
    <ul id="footer-nav">
      <li>
        <a href="contact-us.html">Contact Us</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="affiliate-center.html">Become an Affiliate</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="privacy-policy.html">Privacy</a>
      </li>
    </ul>
    <!-- footer nav ends --></div>
</footer>
<%= " Powered by #{link_to("Admin", "http://www.sdasdas.info")} #{ActiveAdmin::VERSION}".html_safe %>
