<div class="footer_main">
  <div class="block">
    <ul>
      <li>
        <p>Why Join?</p>
      </li>
      <li><a href="#">About our service</a></li>
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">Sign Up Free</a></li>
      <li><a href="#">Get Full Access</a></li>
    </ul>
  </div>
  <div class="block">
    <ul>
      <li>
        <p>Affiliates</p>
      </li>
      <li><a href="#">What is an affiliate?</a></li>
      <li><a href="#">How much can I make?</a></li>
      <li><a href="#">Become an affiliate</a></li>
    </ul>
  </div>
  <div class="block ">
    <ul>
      <li>
        <p>Events</p>
      </li>
      <li><a href="#">Future Millionaire Summit</a></li>
      <li><a href="#">Event schedule</a></li>
      <li><a href="#">Event Signup</a></li>
    </ul>
  </div>
  <div class="block ">
    <ul>
      <li>
        <p>Features</p>
      </li>
      <li><a href="#">Industry-leading Instructors</a></li>
      <li><a href="#">Video Tutorials</a></li>
      <li><a href="#">Action Steps</a></li>
      <li><a href="#">Mobile access</a></li>
      <li><a href="#">Affordable for any budget</a></li>
    </ul>
  </div>
  <div class="block">
    <ul>
      <li>
        <p>Support</p>
      </li>
      <li><a href="#">Frequently asked questions</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Submit feedback</a></li>
      <li><a href="#">Mobile access</a></li>
      <li><a href="#">Feature request</a></li>
    </ul>
  </div>
  <div class="footer_logo"><a href="#"><img src="/assets/footer-logo.png" width="181" height="48" alt=""></a></div>
  <div class="clear"></div>
</div>
<!-- footer main start-->

<div class="footer_bottom">
  <div class="footer_main">
    <div class="block">
      <ul>
        <li>
          <p> Instructors</p>
        </li>
        <li> <a href="#">Daymond John</a></li>
        <li> <a href="#">Dan Caldwell</a></li>
        <li> <a href="#">Andrea Lake</a></li>
        <li> <a href="#">Emerson Spartz </a></li>
        <li> <a href="#">Seth Kravitz </a></li>
        <li> <a href="#">Jake Nickell </a></li>
        <li> <a href="#">Travis Steffen</a></li>
        <li> <a href="#">Cary Chessick </a></li>
        <li> <a href="#">Jackie Warner </a></li>
        <li> <a href="#">Joe Huff</a></li>
        <li> <a href="#">Alex Bard </a></li>
        <li> <a href="#">Jesse Jaymes </a></li>
        <li> <a href="#">Chance Barnett </a></li>
        <li> <a href="#">Kristin Knight</a></li>
        <li> <a href="#">Micah Baldwin</a></li>
        <li> <a href="#">Jonathan Teo</a></li>
        <li> <a href="#">Mike Del Ponte</a></li>
        <li> <a href="#">Dario Meli</a></li>
      </ul>
    </div>
    <div class="block">
      <ul>
        <li>
          <p>Technology </p>
        </li>
        <li> <a href="#">Websites</a></li>
        <li> <a href="#">Mobile Apps</a></li>
        <li> <a href="#">Info Products </a></li>
        <li> <a href="#">Online Marketing</a></li>
        <li> <a href="#">Social Media</a></li>
        <li> <a href="#">Info Products </a></li>
        <li> <a href="#">E-Commerce</a></li>
      </ul>
    </div>
    <div class="block">
      <ul>
        <li>
          <p>Fashion </p>
        </li>
        <li> <a href="#">Tee Shirts</a></li>
        <li> <a href="#">Cut and Sew</a></li>
        <li> <a href="#">Hats </a></li>
        <li> <a href="#">Shoes</a></li>
        <li> <a href="#">Accessories</a></li>
      </ul>
    </div>
    <div class="block">
      <ul>
        <li>
          <p>Entertainment </p>
        </li>
        <li> <a href="#">Music</a></li>
        <li> <a href="#">Video Production</a></li>
        <li> <a href="#">Events </a></li>
        <li> <a href="#">Writing</a></li>
      </ul>
    </div>





    <div class="block">
      <ul>
        <li>
          <p>Misc</p>
        </li>
        <li> <a href="#">Fitness</a></li>
        <li> <a href="#">Real Estate</a></li>
        <li> <a href="#">Manufacturing</a></li>
        <li> <a href="#">Food and Beverage</a></li>
      </ul>
    </div>





    <div class="block">
      <ul>
        <li>
          <p>General</p>
        </li>
        <li> <a href="#">Getting Funded</a></li>
        <li> <a href="#">Investing</a></li>
        <li> <a href="#">Marketing</a></li>
        <li> <a href="#">Hiring</a></li>
        <li> <a href="#">Customer Service</a></li>
        <li> <a href="#">Branding</a></li>
        <li> <a href="#">Getting Started</a></li>
      </ul>
    </div>
    <div class="clear"></div>




    <div class="social_icons">
      <ul>
        <li><p>Follow Us!</p></li>
        <li><a href="#"><img src="/assets/google_pluse.png" width="27" height="28" alt=""></a></li>
        <li><a href="#"><img src="/assets/twitter.png" width="26" height="28" alt=""></a></li>
        <li><a href="#"><img src="/assets/linkedin.png" width="27" height="28" alt=""></a></li>
        <li><a href="#"><img src="/assets/facebook.png" width="25" height="28" alt=""></a></li>
      </ul>
      <div class="clear"></div>

    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="copy">
  <ul>

    <li class="no_margin"><a href="#">Site Map</a></li>
    <li><a href="#">Become an Affiliate </a></li>
    <li><a href="#">Privacy Policy </a></li>
    <li class="no_bg"><a href="#">Terms and Conditions</a></li>

  </ul>

  <div class="clear"></div>
  <p>Copyright © 2013 Lessons On Becoming A Millionaire</p>
</div>
