<footer><!--Footer Start-->
  <div class="warper_footer">
    <div class="inwarp">
      <div class="footer left">
        <div class="footer-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <img class="footer-menu-logo" src="/assets/footer-logo.png" alt="footer logo" />
        </div>
      </div>
    </div>
  </div>
  <div class="warper_footer-bottom">
    <div class="inwarp">
      <div class="footer left footerborder">
        <div class="footer-bottom-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footer-bottom-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footer-bottom-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footer-bottom-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footer-bottom-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="footer-bottom-menu">
          <h2 class="footer-title-menu">Why Join?</h2>
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <div class="social-media">
          <div class="social-area">
            <a class="follow left">Follow Us!</a>
            <a class="icon left"><img src="/assets/googleplus.png"  alt="Google Plus" /></a>
            <a class="icon left"><img src="/assets/twitter.png"  alt="Twetter" /></a>
            <a class="icon left"><img src="/assets/in-social.png"  alt="Linkdin" /></a>
            <a class="icon left"><img src="/assets/facebook.png"  alt="Facebook" /></a>
          </div>
        </div>
      </div>
      <div class="footer left">
        <div class="footer-last-menu">
          <ul>
            <li><a href="#">About Service</a></li>
            <li><a href="#">Testmonial</a></li>
            <li><a href="#">Sign Up free</a></li>
            <li><a href="#">Sign Up free</a></li>
          </ul>
        </div>
        <p class="copyright left">Copyright &copy; 2013 Lessons On Becoming a Milionaire</p>
      </div>
    </div>
  </div>
</footer><!--Footer End-->