
  <!-- Header Starts -->
    <div class="header_main">
      <div class="logo">
        <%= link_to (image_tag ('/assets/header-logo.png'),:width => "115", :height => "29").html_safe, root_path %>
      </div>

      <div id="nav">
        <ul>

          <li><a href="#"><span>Subject</span></a></li>
          <li><span><%= link_to raw(" <span>Instructor</span> "), instructors_path %></li>
          <li><a href="#"><span>My Courses</span></a></li>

        </ul>
        <div class="clear"></div>
      </div>



      <div class="header_right">
        <ul>
          <li><a href="#">Hi, Admin!  </a></li>
          <li><a href="#">account </a></li>
          <li>
            <% if current_user.present? %>
                <%=link_to 'log out',destroy_user_session_path, :method => :delete %>
            <% else %>
                <%=link_to 'log in', new_user_session_path %>
            <%end%>
          </li>


        </ul>

      </div>
      <div class="clear"></div>
    </div>
