<div class="warp_header_style">
		<div class="inwarp">
			<div class="header">
				<div class="logo left">
					<img class="header-logo-img" src="/assets/header-logo.png" alt="Logo" />
				</div>
				<div class="mid-menu left">
					<ul>
						<li><a href="#">Subject</a></li>
						<li><a href="#">Instructor</a></li>
						<li><a href="#">My Courses</a></li>
					</ul>
				</div>
				<div class="right-menu right">
					<ul>
						<li><a href="#">Hi, Travis</a></li>
						<li><a href="#">account</a></li>
						<li><a href="#">log out</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>